{% extends 'base.html.twig' %}
{% block title %}Inscription Médecin - MediConnect{% endblock %}
{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body p-5">
                <h2 class="text-center mb-4">Inscription Médecin</h2>
                {{ form_start(registrationForm) }}
                <div class="row">
                    <div class="col-md-6 mb-3">{{ form_row(registrationForm.nom) }}</div>
                    <div class="col-md-6 mb-3">{{ form_row(registrationForm.prenom) }}</div>
                </div>
                <div class="mb-3">{{ form_row(registrationForm.email) }}</div>
                <div class="mb-3">{{ form_row(registrationForm.phone) }}</div>
                <div class="row">
                    <div class="col-md-6 mb-3">{{ form_row(registrationForm.ville) }}</div>
                    <div class="col-md-6 mb-3">{{ form_row(registrationForm.specialty) }}</div>
                </div>
                <div class="mb-3">{{ form_row(registrationForm.experience) }}</div>
                <div class="mb-3">{{ form_row(registrationForm.description) }}</div>
                <div class="mb-3">{{ form_row(registrationForm.plainPassword.first) }}</div>
                <div class="mb-3">{{ form_row(registrationForm.plainPassword.second) }}</div>
                <button type="submit" class="btn btn-success w-100">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
